<h1>Pousadas</h1>

<div id='cities'>
  <% if @cities.any? %>
    <h2>Hoteis no Brasil</h2>
    <ul>
    <% @cities.each do |city| %>
        <li>
          <%= link_to city, city_list_lodges_path(city: city) %>
        </li>
    <% end %>
    </ul>
  <% end %>
</div>

<div id='recent-lodges'>
<% if @recent_lodges.any? %>
  <h2>Novas pousadas</h2>
  <% @recent_lodges.each do |rl| %>
    <div>
      <h3><%= link_to rl.brand_name, rl %></h3>
      <p><%= rl.description %></p>
    </div>

    <div>
      <%= rl.city %>, <%= rl.state %> <br/>
    </div>
  <% end %>
<% else %>
  <p>Não há pousadas no momento.</p>
<% end %>
</div>

<div id='all-lodges'>
  <h2>Demais pousadas</h2>
  <% @lodges.each do |lh| %>    
    -------------------------------------------------
    <div>
      <h3><%= link_to lh.brand_name, lh %></h3>
      <p><%= lh.description %></p>
    </div>

    <div>
      <%= lh.city %>, <%= lh.state %> <br/>
    </div>
  <% end %>
</div>