<%= form_with model: [@lodge, @room, @reservation] do |f| %>
  <div>
    <%= f.label :start_date %>
    <%= f.date_field :start_date %>
  </div>

  <div>
    <%= f.label :end_date %>
    <%= f.date_field :end_date %>
  </div>

  <div>
    <%= f.label :number_guests %>
    <%= f.text_field :number_guests %>
  </div>

  <%= f.submit %>
<% end %>