<h2>Minhas Reservas</h2>

<% if @reservation %>
  <dl>
    <dt>Pousada:</dt>
    <dd><%= @lodge.brand_name %></dd>

    <dt>Quarto:</dt>
    <dd><%= @room.name %></dd>

    <dt>Check-in:</dd>
    <dd><%= I18n.l @reservation.start_date %></dd>

    <dt>Check-out:</dt>
    <dd><%= I18n.l @reservation.end_date %></dd>

    <dt>Número de hóspedes:</dt>
    <dd><%= @reservation.number_guests %></dd>

    <dt>Valor total das diárias:</dt>
    <dd>R$ <%= @reservation.total_price %>,00</dd>

    <dt>Código da reserva:</dt>
    <dd><%= @reservation.code %></dd>

    <dt>Status da reserva:</dt>
    <dd><%= Reservation.human_attribute_name("status.#{@reservation.status}") %></dd>
  </dl>
<% end %>