<h2>Minhas Reservas</h2>

<<<<<<< HEAD
<dl>
  <dd>Pousada:</dd>
  <dt><%= @lodge.brand_name %></dt>

  <dd>Quarto:</dd>
  <dt><%= @room.name %></dt>

  <dd>Check-in:</dd>
  <dt><%= I18n.l @reservation.start_date %></dt>

  <dd>Check-out:</dd>
  <dt><%= I18n.l @reservation.end_date %></dt>

  <dd>Número de hóspedes:</dd>
  <dt><%= @reservation.number_guests %></dt>

  <dd>Valor total das diárias:</dd>
  <dt>R$ <%= @reservation.total_price %>,00</dt>

  <dd>Código da reserva:</dd>
  <dt><%= @reservation.code %></dt>

  <dd>Status da reserva:</dd>
  <dt><%= Reservation.human_attribute_name("status.#{@reservation.status}") %></dt>
</dl>
=======
<% if @reservation %>
  <h3>Reserva: <%= link_to @reservation.code, @reservation %></h3>
    <dl>
      <dt>Pousada:</dt>
      <dd><%= @reservation.room.lodge.brand_name %></dd>

      <dt>Quarto:</dt>
      <dd><%= @reservation.room.name %></dd>

      <dt>Check-in:</dd>
      <dd><%= I18n.l @reservation.start_date %></dd>

      <dt>Check-out:</dt>
      <dd><%= I18n.l @reservation.end_date %></dd>

      <dt>Número de hóspedes:</dt>
      <dd><%= @reservation.number_guests %></dd>

      <dt>Valor total das diárias:</dt>
      <dd>R$ <%= @reservation.total_price %>,00</dd>

      <dt>Código da reserva:</dt>
      <dd><%= @reservation.code %></dd>

      <dt>Status da reserva:</dt>
      <dd><%= Reservation.human_attribute_name("status.#{@reservation.status}") %></dd>
    </dl>

    <% if current_user.visitor? %>
    <% elsif current_user.host? %>
      <% if @reservation.start_date >= Date.today && @reservation.confirmed? %>
        <%= button_to "Registrar Check-in", check_in_reservation_path(@reservation), data: { turbo_confirm: 'Deseja realizar check-in?' }, method: :post%>
      <% end %>
      <% if Date.today >= @reservation.start_date + 2.days && @reservation.active? %>
        <%= button_to "Cancelar Reserva", cancel_reservation_path(@reservation), data: { turbo_confirm: 'Deseja realizar check-in?' }, method: :post%>
      <% end %>
    <% end %>
<% end %>
>>>>>>> tmp
