<h2>Editar pousada</h2>

<% if @lodge.errors.any? %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @lodge.errors.full_messages.each do |msg| %>
      <li> <%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @lodge do |lh| %>
  <div>
    <%= lh.label :brand_name %>
    <%= lh.text_field :brand_name %>
  </div>

  <div>
    <%= lh.label :corporate_name %>
    <%= lh.text_field :corporate_name %>
  </div>

  <div>
    <%= lh.label :registration_number %>
    <%= lh.text_field :registration_number %>
  </div>

  <div>
    <%= lh.label :contact_number %>
    <%= lh.text_field :contact_number %>
  </div>

  <div>
    <%= lh.label :email %>
    <%= lh.text_field :email %>
  </div>

  <div>
    <%= lh.label :full_address %>
    <%= lh.text_field :full_address %>
  </div>

  <div>
    <%= lh.label :city %>
    <%= lh.text_field :city %>
  </div>

  <div>
    <%= lh.label :state %>
    <%= lh.text_field :state %>
  </div>

  <div>
    <%= lh.label :zip_code %>
    <%= lh.text_field :zip_code %>
  </div>

  <div>
    <%= lh.label :description %>
    <%= lh.text_area :description %>
  </div>

  <div>
    <%= lh.label :payment_methods_id %>
    <%= lh.collection_select :payment_methods_id, @payment_methods, :id, :name %>
  </div>

  <div>
    <%= lh.label :pets %>

    <%= lh.radio_button :pets, 'sim' %>
    <%= lh.label :pets, 'Sim' %>
    
    <%= lh.radio_button :pets, 'nao' %>
    <%= lh.label :pets, 'Não' %>
  </div>

  <div>
    <%= lh.label :status %>

    <%= lh.radio_button :status, 'ativo'%>
    <%= lh.label :status, 'Ativo' %>
    
    <%= lh.radio_button :status, 'inativo'%>
    <%= lh.label :status, 'Inativo' %>
  </div>

  <div>
    <%= lh.label :terms_of_service %>
    <%= lh.text_area :terms_of_service %>
  </div>

  <div>
    <%= lh.label :check_in %>
    <%= lh.text_field :check_in %>
  </div>

  <div>
    <%= lh.label :check_out %>
    <%= lh.text_field :check_out %>
  </div>
  
  <div>
    <%= lh.label :user_id %>
    <%= lh.collection_select :user_id, @users, :id, :name %>
  </div>

  <div>
    <%= lh.submit 'Salvar' %>
  </div>
<% end %>