<h2><%= @lodge.brand_name %></h2>

<dl>
  <div>
    <dt><%= @lodge.description %></dt>
  </div></p>
  
  <div>
    <dt>Aceita pets?</dt>
    <dd><%= @lodge.pets %></dd>
  </div>

  <div>
    <dt>Status:</dt>
    <dd><%= @lodge.status %></dd>
  </div>

  <div>
    <dt>Telefone para contato:</dt>
    <dd><%= @lodge.contact_number %></dd>
  </div>
  
  <div>
    <dt>Email para contato:</dt>
    <dd><%= @lodge.email %></dd>
  </div>
</dl>