<h2><%= @lodge.brand_name %></h2>

<% if current_user && current_user.lodge == @lodge %>
  <%= link_to 'Editar', edit_lodge_path %>
<% end %>

<dl>
  <div>
    <dt><%= @lodge.description %></dt>
  </div></p>
  
  <div>
    <dt>Aceita pets?</dt>
    <dd><%= @lodge.pets %></dd>
  </div>

  <div>
    <dt>Status:</dt>
    <dd><%= @lodge.status %></dd>
  </div>

  <div>
    <dt>Endereço:</dt>
    <dd><%= @lodge.full_address %></dd>
  </div>

  <div>
    <dt>Telefone para contato:</dt>
    <dd><%= @lodge.contact_number %></dd>
  </div>
  
  <div>
    <dt>Email para contato:</dt>
    <dd><%= @lodge.email %></dd>
  </div>
</dl>

<h2>Quartos</h2>

<% if @rooms.any? %>
  <% @rooms.each do |lr| %>
    -----------------------------------------------------
    <div>
      <h3><%= link_to lr.name, [@lodge, lr] %></h3>
    </div>

    <div>
      <%= lr.description %>
    </div>

    <dl>
      <div>
          <dt>Preço:</dt>
          <dd>R$ <%= lr.standard_price %></dd>
      </div>

      <div>
          <dt>Área:</dt>
          <dd><%= lr.area %> m²</dd>
      </div>

      <div>
          <dt>Quantidade de pessoas permitida:</dt>
          <dd><%= lr.max_people %></dd>
      </div>

      <div>
          <dt>Valor Diária:</dt>
          <dd>R$ <%= lr.standard_price %></dd>
      </div>

      <div>
          <dt>Serviços:</dt>
          <%= @services %>
          <dd><%= 'Banheiro' if lr.service %></dd>
          <dd><%= 'Varanda' if lr.service %></dd>
          <dd><%= 'Ar-condicionado' if lr.service %></dd>
          <dd><%= 'TV' if lr.service %></dd>
          <dd><%= 'Guarda-roupas' if lr.service %></dd>
          <dd><%= 'Cofre' if lr.service %></dd>
          <dd><%= 'Acessível para pessoas com deficiência' if lr.service %></dd>
      </div>
    </dl>
  <% end %>
<% else %>
  <div>
    Não existem quartos cadastrados nessa pousada.
  </div>
<% end %>