<h2><%= @lodge_house.brand_name %></h2>

<% if current_user && current_user.lodge_house == @lodge_house %>
  <%= link_to 'Editar', edit_lodge_house_path %>
<% end %>

<dl>
  <div>
    <dt><%= @lodge_house.description %></dt>
  </div></p>
  
  <div>
    <dt>Aceita pets?</dt>
    <dd><%= @lodge_house.pets %></dd>
  </div>

  <div>
    <dt>Status:</dt>
    <dd><%= @lodge_house.status %></dd>
  </div>

  <div>
    <dt>Endereço:</dt>
    <dd><%= @lodge_house.full_address %></dd>
  </div>

  <div>
    <dt>Telefone para contato:</dt>
    <dd><%= @lodge_house.contact_number %></dd>
  </div>
  
  <div>
    <dt>Email para contato:</dt>
    <dd><%= @lodge_house.email %></dd>
  </div>
</dl>