<h2>Criar quarto</h2>

<% if @room.errors.any? %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @room.errors.full_messages.each do |msg| %>
      <li> <%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @room do |lr| %>
  <div>
    <%= lr.label :name %>
    <%= lr.text_field :name %>
  </div>

  <div>
    <%= lr.label :description %>
    <%= lr.text_field :description %>
  </div>

  <div>
    <%= lr.label :area, 'Dimensão (m²)' %>
    <%= lr.text_field :area %>
  </div>

  <div>
    <%= lr.label :number_people %>
    <%= lr.text_field :number_people %>
  </div>

  <div>
    <%= lr.label :standard_price %>
    <%= lr.text_field :standard_price %>
  </div>

  <div>
    <%= lr.label :bathroom %>
    <%= lr.check_box :bathroom %>
  </div>

  <div>
    <%= lr.label :balcony %>
    <%= lr.check_box :balcony %>
  </div>

  <div>
    <%= lr.label :air_conditioner %>
    <%= lr.check_box :air_conditioner %>
  </div>

  <div>
    <%= lr.label :tv %>
    <%= lr.check_box :tv %>
  </div>

  <div>
    <%= lr.label :closet %>
    <%= lr.check_box :closet %>
  </div>

  <div>
    <%= lr.label :vault %>
    <%= lr.check_box :vault %>
  </div>

  <div>
    <%= lr.label :accessibility %>
    <%= lr.check_box :accessibility %>
  </div>

  <div>
    <%= lr.submit 'Salvar' %>
  </div>
<% end %>