<h2>Quarto</h2>

<div>
  <h3><%= @room.name %></h3>
  <% if current_user && @lodge.user == current_user %>
    <p><%= link_to 'Editar quarto', edit_lodge_room_path%></p>
  <% end %>
  <p><%= link_to 'Escolher Datas', new_lodge_room_reservation_path(@lodge, @room) %></p>
</div>

<div>
  <%= @room.description %>
</div>

<dl>
  <div>
      <dt>Preço:</dt>
      <dd>R$ <%= @room.standard_price %></dd>
  </div>

  <div>
      <dt>Área:</dt>
      <dd><%= @room.area %> m²</dd>
  </div>

  <div>
      <dt>Quantidade de pessoas permitida:</dt>
      <dd><%= @room.max_people %></dd>
  </div>

  <div>
      <dt>Valor Diária:</dt>
      <dd>R$ <%= @room.standard_price %></dd>
  </div>

  <div>
      <dt>Serviços:</dt>
      <dd><%= 'Banheiro' if @room.service.has_bathroom %></dd>
      <dd><%= 'Varanda' if @room.service.has_balcony %></dd>
      <dd><%= 'Ar-condicionado' if @room.service.has_air_conditioner %></dd>
      <dd><%= 'TV' if @room.service.has_tv %></dd>
      <dd><%= 'Guarda-roupas' if @room.service.has_closet %></dd>
      <dd><%= 'Cofre' if @room.service.has_vault %></dd>
      <dd><%= 'Acessível para pessoas com deficiência' if @room.service.is_accessible %></dd>
  </div>

  <div>
    <br><br>
    <div>
      <h4>Períodos programados</h4>
      <%= link_to 'Adicionar valor por período', new_lodge_room_seasonal_price_path(@room.lodge.id, @room) %> <br>
      <%= link_to 'Ver períodos programados para este quarto', lodge_room_seasonal_price_path(@room.lodge.id, @room) %> <br><br>
    </div>
    <% if @seasonal_prices.any? %>
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Data de início</th>
            <th>Data de término</th>
            <th>Valor da diária</th>
            <th>Editar</th>
          </tr>
        </thead>
        <tbody>
          <% @seasonal_prices.each do |sp| %>
          <tr>
            <td><%= sp.name %></td>
            <td><%= sp.start_date %></td>
            <td><%= sp.end_date %></td>
            <td>R$ <%= sp.price.to_f / 100 %></td>
            <td><%= link_to 'Editar período', edit_lodge_room_seasonal_price_path(sp.room.lodge.id, sp.room.id, sp) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div>
        <p>Não existem períodos cadastrados.</p>
      </div>
    <% end %>
    
  </div>
</dl>