<!DOCTYPE html>
<html>
  <head>
    <title>Lodge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav>
        <%= link_to 'Pousadas', root_path %> |
        <% if user_signed_in? %>
          <%= current_user.email %> |
          <%= current_user.first_name %> |
          <%= current_user.role %> |
          <% if current_user.host? && !current_user.lodge.nil? && current_user.lodge.id %>
            <%= link_to 'Minha pousada', current_user.lodge %> |
            <%= link_to 'Cadastrar quarto', new_lodge_room_path(current_user.lodge) %>
          <% end %>
          <% if current_user.visitor? %>
            <%= link_to 'Minhas reservas', my_reservations_path %> |
          <% end %>
          <p></p>
          <%= button_to 'Sair', destroy_user_session_path, method: :delete %>
        <% else %>
          <p></p>
          <%= link_to 'Iniciar sessão', new_user_session_path %>
        <% end %>
        <div id='search-box'>
          <br>
          <%= form_tag(search_lodges_path, :method => 'get') do %>
            <%= search_field_tag :search, params[:search], placeholder: 'Buscar' %>
            <%= button_tag 'Buscar', :name => nil %>
          <% end %>
        </div>
      </nav>
    </header>
    <main>
      <div>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
